# Stellar
STELLAR_NETWORK=testnet
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
STELLAR_RPC_URL="https://soroban-testnet.stellar.org"
STELLAR_BASE_FEE=1000000
STELLAR_ACCOUNT=admin

# Token and Oracle
XLM_ADDRESS="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
REFLECTOR_ORACLE="CCYOZJCOPG34LLQQ7N24YXBM7LL62R7ONMZ3G6WZAAYPB5OYKOMJRN63"

# Contracts
TOKEN_FACTORY=""
CALCULATOR=""
LONG_SHORT_PAIR_FACTORY=""